# Built result
*.d.ts
*.js
!packages/*/types/**/*.d.ts
!*.config.js
dist/

# Test results
**/coverage/
**/tests/generated/

# Dependencies
node_modules/

# Temp files
.nx/
*.tmp
*.log
